body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: black;
}
.flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
header > div, footer {
	background: url('../images/linebg.gif') repeat top right;
}
header {
	margin: 34px 0;
	width: 100%;
}
header .right {
	background-position: top left;
}
header > div {
	height: 280px;
	flex-grow: 2;
}
header .middle {
	width: 360px;
	background-image: url('../images/alexbegg2.gif');
	flex-grow: 0;
}
.video {
	text-align: center;
	color: #666666;
	margin-bottom: 34px;
	position: relative;
}
.video .playpause {
	background-image: url(https://findicons.com/files/icons/2337/wireframe_toolbar_icons/48/playback_play.png);
	background-repeat: no-repeat;
	width: 20%;
	height: 20%;
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	margin: auto;
	background-size: contain;
	background-position: center;
}
footer {
	margin-bottom: 17px;
	padding: 17px 0;
}
footer .flex {
	margin: 0 auto;
	width: 310px;
	justify-content: space-between;
}
footer .flex > div {
	width: 30%;
	text-align: center;
}
a {
	color: #9AC2FF;
}
a:hover {
	text-decoration: none;
}
